body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #f9faf8;
}

.logo, .secondl {
  margin-left: 150px;
}

.right-h, .secondr {
  margin-right: 150px;
}

ul {
  list-style: none;
  color: #f9faf8;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #1f2937;
}

.right-h {
  display: flex;
  gap: 10px;
  align-items: center;
}

.logo {
  height: 45px;
  width: auto;
  padding: 10px 0px;
}

/* Header Ends
Second Container Starts*/

.pic1 {
  max-width: 750px;
  height: auto;
  margin-bottom: 60px;
  margin-top: 60px;
}

.second {
  border: 1px solid red;
  display: flex;
  background-image: url("./images/gojotest.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.secondl {

    text-align: left;
    /*background-color: rgba(0,0,0,.5);*/
    margin-top: 60px;
    margin-bottom: 60px;

}

.secondr {
    display: flex;
}

.schooltitle {
    font-size: 48px;
    font-weight:900;
    margin-right: 30px;
    margin-left: 10px;
    color: white;
}

.schooltxt {
    font-size: 30px;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #f9faf8;
    margin-left: 10px;
}

.button {
    color: white;
    background-color: #ff00bf;
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 900;
}

.test {
    background-color: rgba(0,0,0,.5);
    margin-right: 120px;
    margin-top: 60px;
    border-radius: 10px;
}