body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #f9faf8;
}

.logo,
.secondl {
  margin-left: 150px;
}

.right-h,
.secondr {
  margin-right: 150px;
}

ul {
  list-style: none;
  color: #f9faf8;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #1f2937;
}

.right-h {
  display: flex;
  gap: 10px;
  align-items: center;
}

.logo {
  height: 45px;
  width: auto;
  padding: 10px 0px;
}

/* Header Ends
Second Container Starts*/

.pic1 {
  width: 750px;
  height: auto;
  margin-bottom: 60px;
  margin-top: 60px;
}

.second {
  display: flex;
  background-image: url("./images/gojotest.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.secondl {
  text-align: left;
  /*background-color: rgba(0,0,0,.5);*/
  margin-top: 60px;
  margin-bottom: 60px;
  width: 900px;
  height: auto;
}

.test {
  background-color: rgba(0, 0, 0, 0.5);
  margin-right: 120px;
  margin-top: 60px;
  border-radius: 10px;
}


.schooltitle {
  font-size: 48px;
  font-weight: 900;
  margin-right: 30px;
  margin-left: 10px;
  color: white;
}

.schooltxt {
  font-size: 30px;
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #f9faf8;
  margin-left: 10px;
}

.button {
  color: white;
  background-color: #ff00bf;
  padding: 5px 15px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 900;
}


/*Second Ends-Third Starts*/

.third {
  background-color: #4b0082;
}

.pics2 {
  width: 250px;
  height: 250px;
  padding: 0px;
  margin: 0;
}
.box {
  max-width: 250px;
  border-radius: 20px;
  background-color: black;
}

.pics2 {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.thirdh {
  text-align: center;
  font-weight: 900;
  font-size: 20px;
}

.box-container {
  display: flex;
  justify-content: center;
  gap: 70px;
  flex-wrap: wrap;
  padding-bottom: 100px;
}

.box {
}

.name {
  text-align: center;
  font-weight: 900;
  font-size: 25px;
  color: white;
  padding-bottom: 5px;
}

.thirdtext {
  padding: 3px;
  color: white;
  text-align: center;
  font-size: 18px;
}

.thirdh {
  font-size: 48px;
  font-weight: 900;
  color: white;
  padding: 60px 0;
}

/*Third Ends-Fourth Starts*/

.fourth {
  height: 1100px;
  background-image: url(./images/gojogeto.jpg);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fourthc {
  margin-left: 450px;
  margin-right: 350px;
}

.quote {
  color: white;
  font-size: 48px;

}

.quoteby {
  color: white;
  font-size: 36px;
  text-align: end;
  padding-right: 100px;
  font-weight: 900;
}

/*Fourth ends Fifth Starts*/

.fifthc {
  background-color: wheat;
  display: flex;
  padding: 150px 200px;
  background-image: url("./images/gang2.jpg");
  background-attachment: fixed;
  background-position:top;
  background-repeat: no-repeat;
  background-size: cover;
}

.fifthl {
  border-radius: 15px 0 0 15px;
  background-color:#4b0082;
  flex: 4;
  color: white;
}

.fifthr {
  flex: 1;
  border-radius: 0 15px 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#4b0082;
}

.fifthl, .fifthr {
  padding: 100px 100px;
}

.strength {
  font-size: 35px;
  font-weight: 700;
}

.enroll {
  font-size: 25px;
}

.button2 {
  color: white;
  background-color: #ff00bf;

  border-radius: 10px;
  font-size: 35px;
  font-weight: 900;
  border-color: white;
  border-width: 4px;
  height: 80px;
  width: 200px;
}